<div fxLayout="row" fxLayoutAlign="center center">
<img src="assets/App_Store-512.png"/>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <h1>Welcome to Application Manager!</h1>
</div>
<div class="flex-gap" fxLayout="row" fxLayoutAlign="center center">
    <a routerLink="/assignments">
        <button mat-raised-button color="primary">
            <mat-icon>perm_contact_calendar</mat-icon>
            All Assignments
        </button>
    </a>
    <a routerLink="/add">
        <button mat-raised-button color="primary">
            <mat-icon>add</mat-icon>
            Create Assignment
        </button>
    </a>
</div>
