<mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div><a routerLink="/">Home</a></div>
    <ul fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="10px" fxHide.xs>
      <ng-template [ngIf]="!isAuth">
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/register">Sign Up</a>
        </li>
      </ng-template>
      <!-- <ng-template [ngIf]="isAuth">
        <li>
          <a routerLink="/listing/create">Create Listing</a>
        </li>
        <li>
          <a routerLink="/user/details/{{userId}}">My Profile</a>
        </li>
        <li>
          <a (click)="logout()" class="logoutLink">Logout</a>
        </li>
      </ng-template> -->
    </ul>
  </mat-toolbar>
  