<div class="list row" *ngIf="assignments">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Assignments List</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngIf="assignments.length === 0">
        There are no available assignments at the moment! Please create one by going to Create Assignment page!
      </li>
      <li
        class="list-group-item"
        *ngFor="let assignment of assignments; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveAssignment(assignment, i)"
      >
        {{ assignment.name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllAssignments()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <app-assignments-info [currentAssignment]="currentAssignment"></app-assignments-info>
  </div>
</div>
